{% extends "base.html" %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/admin.css') }}"
/>
{% endblock %} {% block title %}Assignments{% endblock %} {% block content %}
<h2>Current Assignments</h2>

<table border="1" cellpadding="10">
  <tr>
    <th>Manager</th>
    <th>Developer</th>
    <th>Action</th>
  </tr>

  {% for a, manager, developer in assignments %}
  <tr>
    <td>{{ manager.name }}</td>
    <td>{{ developer.name }}</td>
    <td>
      <a
        href="/admin/unassign/{{ a.id }}"
        onclick="return confirm('Unassign this developer?')"
      >
        Unassign
      </a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
